$primary-300: #FFCC4D;
$primary-500: #ffb703;
$primary-700: #E8A600;

$gray-100: #F9FAFB;
$gray-200: #F5F6F7;
$gray-300: #EBECED;
$gray-400: #D1D2D3;
$gray-500: #B3B3B3;
$gray-600: #969696;
$gray-700: #626364;
$gray-800: #444546;
$gray-900: #232424;

$gray-light-10: rgba(0, 0, 0, .01);
$gray-light-25: rgba(0, 0, 0, .025);
$gray-light-50: rgba(0, 0, 0, .05);
$gray-light-100: rgba(0, 0, 0, .1);
$gray-light-150: rgba(0, 0, 0, .15);
$gray-light-200: rgba(0, 0, 0, .2);
$gray-light-400: rgba(0, 0, 0, .4);
$gray-light-600: rgba(0, 0, 0, .6);